body {
  margin: 0;
  font-family: 'Courier New', Monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  overflow: hidden;
}

code {
  font-family: 'Courier New', Monaco, monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}